<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Register Supermarkets</h1> 
        </div>
        <div class="card-body">
            <form action="/supermarkets/createSupermarket" method='POST'> 
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="text" name="latitude" id="latitude" placeholder="Latitude">
                </div>
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" name="longitude" id="longitude" placeholder="Longitude">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" name="address" id="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{{#if supermarketsFound}}
<div class="row">

    <div class="card-header">
        <h1>Data Supermarket</h1> 
    </div>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">  
    <tr>

    <th scope="row">ID</th>
    <th>Name</th>
    <th>Types</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Image</th>
    <th>Telephone</th>
    <th>Rating</th>
    <th>Schedule</th>
    <th>Website</th>
    <th></th>


<tr>
    <th>{{supermarketsFound.placeid}}</th>
    <td>{{supermarketsFound.name}}</td>
    <td>{{supermarketsFound.typeSupermarket}}</td>
    <td>{{supermarketsFound.formatted_address}}</td>
    <td>{{supermarketsFound.lat}}</td>
    <td>{{supermarketsFound.lng}}</td>
    <td>{{supermarketsFound.photoUrl}}</td>
    <td>{{supermarketsFound.international_phone_number}}</td>
    <td>{{supermarketsFound.rating}}</td>
    <td>{{supermarketsFound.weekday_text}}</td>
    <td>{{supermarketsFound.website}}</td>
    <td>
        <form action="/supermarkets/registerSupermarket/{{idSuperMarket}}" method="POST">
                <button class="btn btn-success btn-block btn-sm" type="submit">
                    Register
                </button> 
        </form>
    </td>
</tr>
</table>

    {{/if}}
</div>