<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Register Supermarket</h3>
        </div>
        <div class="card-body">
            <form action="/clients/modify-client/{{client._id}}?_method=PUT" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="idSuperMarket" placeholder="ID Supermarket" readonly="readonly" value={{client.idSuperMarket}} >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" readonly="readonly" value={{client.name}} >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address" placeholder="Address" readonly="readonly" value={{client.address}}>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude" readonly="readonly" value={{client.latitude}}>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="longitude" placeholder="Longitude" readonly="readonly" value={{client.longitude}}>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="typeSupermarket" placeholder="typeSupermarket" readonly="readonly" value={{client.typeSupermarket}}>
                    </div>
                    <div class="form-group">
                        <input type="image" class="form-control" name="image" width="48" height="48" readonly="readonly" value={{client.image}}>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="telephone" placeholder="Telephone" readonly="readonly" value={{client.telephone}}>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="rating" placeholder="Rating" readonly="readonly" value={{client.rating}}>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="schedule" placeholder="Schedule" readonly="readonly" value={{client.schedule}}>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Save
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>