
<br>
<br>

{{#if totalPurchases}}
<div class="row">
    <div class="card-header">
        <h1>Total Purchases:</h1> 
        <h3>{{totalPurchases}}</h3>
    </div>
</div>
{{/if}}

<br>
<br><br>

<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">
   
  <tr>
    <th scope="row">ID</th>
    <th>Date</th>
    <th>Particular Needs</th>
    <th>Total Amount</th>
  </tr>
  
    {{#each ordersRequests}}

  <tr>
    <th>{{id}}</th> 
    <th>{{dateTime}}</th>
    <td>{{particularNeeds}}</td>
    <td>{{totalAmount}}</td>
  </tr>
    {{/each}}
    </table>
</div> 