<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Register Orders</h1> 
        </div>
        <div class="card-body">
            <form action="/clients/registerOrder" method='POST'> 
                <div class="form-group">
                    <label>Select Supermarket</label>
                </div>
                <div class="form-group">
                    <select name ="superMarket" id ="superMarket">
                    {{#each superMarkets}}
                    <option value="{{idSuperMarket}}">{{name}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Search Products
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<input type="text" class="form-control" name="superM" id="superM" readonly="readonly" value='{{superM}}'>

{{#if productsSupermarket}}


<div class="row">

    <div class="card-header">
        <h1>Products</h1> 
    </div>
<table name='products' id='products' class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">  
    <tr>

    <th scope="row">ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image</th>
    <th>Quantity</th>

    {{#each productsSupermarket}}
<tr>
    <th>{{idProduct}}</th>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>${{price}}</td>
    <td><img src="{{img.contentType}}"></td>
    <td><input type="number" name="quantity" id="quantity" min="1" step="1"></td>
</tr>

 {{/each}}
</table>
</div>

<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Register Information</h1> 
        </div>
        <div class="card-body">
            <form action="/clients/registerOrder/confirmed" method='POST'> 
                <div class="form-group">
                    <label>Select Status</label>
                    <select name ="status" id ="status">
                        <option value="Registered">Registered</option>
                        <option value="Assigned">Assigned</option>
                        <option value="On Route">On Route</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Particular Needs</label>
                    <input type="text" name="particularNeeds" id="particularNeeds" placeholder="Particular Needs">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Register Order
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{{/if}}