<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Register Orders</h1> 
        </div>
        <div class="card-body">
            <form action="/clients/registerOrder" method='POST'> 
                <div class="form-group">
                    <label>Select Supermarket</label>
                </div>
                <div class="form-group">
                    <select name ="superMarket" id ="superMarket">
                    {{#each superMarkets}}
                    <option value="{{idSuperMarket}}">{{name}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Search Products
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{{#if productsSupermarket}}


<div class="row">

    <div class="card-header">
        <h1>Products</h1> 
    </div>
<table name='products' id='products' class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">  
    <tr>

    <th scope="row">ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>

    {{#each productsSupermarket}}
<tr>
    <th>{{idProduct}}</th>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>${{price}}</td>
    <td>
        <form action="/clients/registerOrder/confirmed/{{idProduct}}" method="POST">
            <button class="btn btn-primary btn-block btn-sm" type="submit">
                Register
            </button> 
        </form>
    </td>
</tr>

 {{/each}}
</table>
</div>

{{/if}}