<div class="row">
    <div class="card-header">
        <h1>Order Story</h1> 
    </div>
 <div class="row">
    <div class="card">
        <div class="card-header">
        <h1>Consult Clients</h1> 
        </div>
        <div class="card-body">
            <form action="/employees/query01" method='POST'> 
                <div class="form-group">
                    <label>ID Client</label>
                    <input type="number" name="clientId" min="1" step="1" id="clientId">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Search
                    </button>
                     </div>

            </form>

             </div>
        </div>
    </div>
</div>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">


    {{#each ordersFound}}
      <tr>
      <th>{{idProduct}}</th>
      <td>{{totalAmount}}</td>
      <td>{{idClient}}</td>
      <td>{{dateTime}}</td>
      <td>{{particularNeeds}}</td>
      <td>{{idSuperMarket}}</td>
      <td>{{idOrden}}</td>
      <td>{{status}}</td>
      <td>
      </td> 
    
  </tr>
    {{/each}}
  </table>
   

    









