<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Show Concurrent Clients in Branches</h1> 
        </div>
        <div class="card-body">
            <form action="/employees/query04" method='POST'> 
                <div class="form-group">
                    <label>ID Client</label>
                    <input type="text" name="client" id="client" placeholder="ID Client">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{{#if clientsFound}}
<div class="row">

    <div class="card-header">
        <h1>Clients</h1> 
    </div>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">  
    <tr>

    <th scope="row">ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>Birth Date</th>

     {{#each clientsFound}}
<tr>
    <th>{{id}}</th>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{telephone}}</td>
    <td>{{email}}</td>
    <td>{{birthDate}}</td>
</tr>
    {{/each}}
</table>

    {{/if}}
</div>