<div class="row">
<a href="/supermarkets/createSupermarket" class="btn btn-success btn-block btn-sm">New Supermarket</a>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">

  {{#if supermarketsFound}} 
  <tr>
    <th scope="row">ID</th>
    <th>Name</th>
    <th>Description</th>
    <th width="10">Type</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Image</th>
    <th>Telephone</th>
    <th>Rating</th>
    <th>Schedule</th>
    <th>Website</th>
    <th></th>
  </tr>
  
    {{#each supermarketsFound}}

  <tr>
    <th>{{idSuperMarket}}</th>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td width="10">{{typeSupermarket}}</td>
    <td>{{address}}</td>
    <td>{{latitude}}</td>
    <td>{{longitude}}</td>
    <td><img src={{image}}></td>
    <td>{{telephone}}</td>
    <td>{{rating}}</td>
    <td>{{schedule}}</td>
    <td>{{website}}</td>
    <td>
      <form action="/supermarkets/registerProducts/{{idSuperMarket}}" method="GET">
        <button class="btn btn-success btn-block btn-sm" type="submit">
          Add Products
        </button> 
      </form>
    </td>
    
  </tr>
    {{/each}}
    </table>
    {{/if}}
</div>
