
{{#if topS}}
<div class="row">
    <div class="card-header">
        <h1>Top 5 Supermarkets</h1> 
    </div>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">  
    <tr>
    <th scope="row">Name</th>
    </tr>

    <tr>
        <td>{{topS.name01}}</td>
    </tr>

    <tr>
        <td>{{topS.name02}}</td>
    </tr>

    <tr>
        <td>{{topS.name03}}</td>
    </tr>
    <tr>
        <td>{{topS.name04}}</td>
    </tr>
    <tr>
        <td>{{topS.name05}}</td>
    </tr>
 
</table>
{{/if}}
</div>